@import "../../styles/typography";
@import "../../styles/colors";
@import "../../styles/breakpoints";

.Landing {
  background: url(../../assets/svgs/backgrounds/hero-bg.svg) no-repeat;
  background-size: cover;

  &_container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    padding: 2rem 16px;
    gap: 50px;

    @include tb {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 32px;
    }

    @include lm {
      width: 80%;
      margin: 0 auto;
      padding: 2rem 0;
    }

    @include dm {
      max-width: 1400px;
    }
  }

  &_content {
    &_social {
      margin-top: 2rem;

      &_link {
        font-size: 28px;

        &:not(:first-child) {
          margin-left: 10px;
        }

        & > svg {
          stroke: inherit;
        }
      }
    }
    &_description {
      & > h1 {
        font-weight: 700;
        font-size: 38px;
        font-family: "Eczar", serif;
        letter-spacing: 2.5px;
      }

      & > h2 {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 24px;
      }

      & > h3 {
        opacity: 60%;
      }
    }
  }

  &_links {
    @include flexDisplay(flex-start);
    flex-direction: column;
    gap: 20px;
    margin-top: 10rem;

    @include ml {
      flex-direction: row;
    }

    &_btn {
      background: linear-gradient(to right, $blue-2, $blue-3);
      font-size: 1rem;
      font-weight: 600;
      color: $white-1;
      transition: all 0.5s linear;
      border: none;
      padding: 14px 32px;
      border-radius: 8px;
      transition: all 0.5s linear;
      display: flex;
      align-items: center;
      width: max-content;
      @include flexDisplay(center);
      width: 70%;

      @include mm {
        width: max-content;
      }

      &:hover {
        transform: scale(1.05);
      }

      & > svg {
        margin-left: 8px;
      }
    }
  }

  &_imgContainer {
    border-radius: 50%;
    box-shadow: 5px 5px 2px 15px #30434d;
    overflow: hidden;
    width: 40%;
    max-height: 350px;
    background: white;

    & > img {
      width: 100%;
      height: 100%;
      opacity: 60%;
    }
  }
}
