// Blue colors
$blue-1: #435c62;
$blue-2: #1a536a;
$blue-3: #153254;

// Grey colors
$grey-1: #c2c1c1;
$grey-2: #eee;

// Black colors
$black-1: #555555;
$black-2: #1a1919;

// White color
$white-1: #fff;

// Error colors
$error-1: #ff0000cc;
