// Blue colors
$blue-1: #afefff;
$blue-2: #1cb9f7;
$blue-3: #0077ff;

// Grey colors
$grey-1: #c2c1c1;

// Black colors
$black-1: #555555;
$black-2: #1a1919;

// White color
$white-1: #fff;

// Error colors
$error-1: #ff0000cc;
