@import "../../styles/typography";
@import "../../styles/colors";
@import "../../styles/breakpoints";

.Contact {
  padding: 3rem 16px;

  @include tb {
    padding: 3rem 32px;
  }

  @include lm {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  @include dm {
    max-width: 1400px;
  }

  &_header {
    @include sectionHeader;
  }

  &_content {
    display: flex;
    flex-direction: column-reverse;

    @include tb {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include tb {
      width: 50%;
    }

    &_row {
      width: 100%;
      &_label {
        font-size: 1.15rem;
        font-weight: 600;
        letter-spacing: 1.2px;
        opacity: 75%;
      }

      &_input {
        width: calc(100% - 30px);
        outline: none;
        font-size: 1rem;
        padding: 14px;
        border: 1px solid $grey-1;
        border-radius: 6px;
        margin-top: 7px;

        &:focus {
          background: rgba($blue-1, 0.3);
          border-color: $blue-2;
        }
      }

      &_error {
        margin: 2px 5px;
        font-size: 13px;
        color: $error-1;
      }
    }
    &_btn {
      margin-top: 12px;
      font-size: 1rem;
      letter-spacing: 1.3px;
      display: flex;
      justify-content: center;
      background-color: $blue-1;

      &:hover {
        background-color: rgba($blue-2, 0.5);
      }

      &:disabled {
        background-color: $grey-2;
        cursor: not-allowed;
      }
    }
  }

  &_img {
    width: 100%;
    opacity: 70%;
    border-radius: 6px;

    @include tb {
      width: 45%;
    }
  }
}
