@import "../../styles/topography";
@import "../../styles//colors";

.Navbar {
  background: linear-gradient(to right, $blue-1, $grey-1);
  padding: 20px 0;

  &_container {
    @include flexDisplay(space-between);
    width: 80%;
    margin: 0 auto;
  }

  &_brand {
    font-weight: 900;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
  }

  &_links {
    @include flexDisplay(space-between);
    list-style-type: none;

    &_item {
      margin: 5px;
      padding: 5px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.5s linear;
      border-bottom: solid 3px transparent;

      &:hover {
        border-bottom-color: white;
      }
    }
  }
}
