@import "../../styles/colors";
@import "../../styles/topography";

.Footer {
  min-height: 250px;
  background: linear-gradient(to right, $blue-1, $grey-1);

  &_container {
    @include gridDisplay(center, 1fr 2fr 1fr);
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
  }

  &_brand {
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
    cursor: pointer;
  }
}
