@import "../../styles/colors";
@import "../../styles/typography";
@import "../../styles/breakpoints";

.Footer {
  min-height: 200px;
  background: linear-gradient(to right, $blue-1, $grey-1);

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 16px 0;

    @include tb {
      padding: 3rem 32px 0;
    }

    @include lm {
      width: 80%;
      margin: 0 auto;
      padding: 3rem 0 0;
    }
  }

  &_brand {
    font-size: 60px;
    font-family: "Permanent Marker", cursive;
  }

  &_links {
    &_item {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
      font-size: 30px;
    }
  }

  &_copyright {
    text-align: center;
    padding: 10px 0;

    & > p {
      font-weight: 600;
      letter-spacing: 1.2px;
    }
  }
}
